<div class="be-wrapper be-fixed-sidebar">

  <ng-template [ngIf]="userLoggedIn">
    <app-navbar></app-navbar>
    <!-- <app-left-sidebar></app-left-sidebar> -->
    <app-content></app-content>
    <toaster-container></toaster-container>
  </ng-template>

  <div *ngIf="!userLoggedIn" class="be-spinner" style="position: absolute; top: 50%; left: 0; right: 0; text-align: center; margin-top: -40px">
    <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
    </svg>
  </div>

</div>