<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <button class="btn btn-space btn-primary pull-right" (click)="addGroupModal()">
      <i class="fa fa-plus"></i>Add Item</button>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 10%">Name</th>
          <th>Group Type</th>
          <th>Suggestion Status</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody *ngIf="groups">
        <tr *ngFor="let group of groups">
          <td>{{group.Name}}</td>
          <td>{{group.GroupType}}</td>
          <td>{{group.SuggestionStatus}}</td>
          <td class="actions">
            <a href="javascript:void(0);" (click)="editGroupModal(group)" class="icon" style="margin-right: 10px;">
              <i class="mdi mdi-edit"></i>
            </a>
            <a href="javascript:void(0);" (click)="confirmRemoveGroupModal(group)" class="icon">
              <i class="mdi mdi-delete"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>